body {
    margin: -38px auto;
    text-align: center;
    font-family: 'Spinnaker', sans-serif;
    background: #cdedf6;
}

.background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.5;
}

#wrapper1 {
    width: 100%;
    margin: 0 auto;
    background: white;
}

#wrapper2 {
    width: 60%;
    margin: 0px auto;
}

#hero {
    /*background-image: url("images/long-island.jpeg");*/
    height: 475px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    color: white;
}

#round {
    border-radius: 50%;
    border: 3px solid #274c77;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
}

h1, h2 {
    font-family: 'Sail', cursive;
    color: white;
}

h2 {
    margin-bottom: 200px;
}

h3,
p {
    color: black;
    padding: 0 20px;
}

.features {
    background: #e7ecef;
}

.card {
    width: 744px;
   
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #cdedf6;
    color: #2b2839;
    border-bottom: 6px solid #274c77;
} 

.btn {
    border-radius: 10px;
    border: solid 2px #274c77;
    padding: 0 10px;
    font-size: 14px;
    font-weight: bold;
    background: #fff;
    color: #274c77;
    text-decoration: none;
}

.btn:hover,
.btn:active {
    background: #274c77;
    color: #fff;
}

.avatar {
    width: 150px;
    border-radius: 50px;
    border: 6px solid #274c77;
}
